.app {
   height: 100vh;
   padding: 50px;
   max-width: 1170px;
}

.buttons_wrap {
   display: flex;
}

.primary_wrap {
   display: grid;
}

.secondary_wrap {
   display: grid;
}

.secondary2_wrap {
   display: grid;
}

.button {
   width: 132px;
   height: 56px;
   border-radius: 2px;
   border: none;
   font-size: 16px;
   cursor: pointer;
   transition: 1s;
   margin-top: 30px;
   margin-right: 30px;
}

.primary {
   background-color: #2231aa;
   color: white;
}

.primary:hover {
   background-color: #717bd6;
}

.secondary {
   background-color: #e8e8e8;
   color: #313037;
}

.secondary:hover {
   background-color: #868686;
}

.secondary2 {
   background-color: white;
   color: #fd3419;
}

.secondary2:hover {
   border: 3px solid #e8e8e8;
   transition: none;
}

.secondary2Disabled {
   background-color: white;
}

.user {
   margin-top: 100px;
   width: 235px;
   height: 85px;
   background-color: #2231aa;
   display: flex;
   justify-content: center;
   align-items: center;
}

.user p {
   color: #fff;
   font-size: 16px;
   font-weight: 600;
   display: flex;
   text-align: center;
   align-items: center;
}

.user p:before {
   content: 'AM';
   display: flex;
   align-items: center;
   justify-content: center;
   width: 48px;
   height: 48px;
   background-color: #5360cd;
   margin-right: 16px;
   font-size: 16px;
   font-weight: 600;
}

.title_wrap {
   margin-top: 100px;
   background-color: rgb(231, 228, 228);
   width: 200px;
   text-align: center;
}

.title {
   font-size: 50px;
   font-weight: bold;
}

.tabs_wrap {
   display: flex;
   margin-top: 100px;
}

.tab {
   margin-left: 30px;
   font-size: 30px;
   font-weight: 500;
   cursor: pointer;
   transition: 1s;
   align-items: center;
}

.tab:first-child {
   margin-left: 0px;
}

.all {
   text-align: center;
}

.all:after {
   content: '';
   display: block;
   width: 100px;
   height: 2px;
   background-color: black;
   margin-top: 24px;
}

.favorite:hover {
   color: #2231aa;
}

.popular {
   opacity: 0.4;
   user-select: none;
}
